.chatBox {
  padding: 20px 30px;
  height: 100vh;

  background-color: $color-chatbox-bachground;

  &__messagePanel {
    height: 85vh;
    padding-bottom: 20px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column-reverse;

    overflow-y: auto;

    &::-webkit-scrollbar-track {
      margin-bottom: 20px;
    
    }
  }

  &__infoBar{
    padding: 0px 10px;

    &--bar {
      height: 2px;
      margin: 10px auto;
      width: 100%;

      background-color: rgba(109, 104, 117, 1);
    }

    &--content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      .infoIcon {
        font-size: 32px;
        color: $color-info-button;
        cursor: pointer;
      }

      .userInfo {
        display: flex;
        align-items: center;

        p {
          margin-bottom: 0;
          margin-left: 10px;

          font-size: $fs-2;
          font-weight: bold;
          color: $color-title-boxchat;
        }
      }
    }
  }

  &__input {
    width: 100%;

    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    input {
      width: 100%;
      padding-right: 50px;
    }

    .buttonIcon {
      position: absolute;
      right: 20px;

      z-index: 100;

      font-size: 2rem;
      cursor: pointer;
    }
  }

  &__holdPlace{
    height: 80px;
    width: 72vw;
    
    position: absolute;
    bottom: 0;
  }
}

