.messageGroup {
  display: flex;
  &__avatar {
    margin: 0px 10px;
  }
  &__senderName {
    color: $color-title-boxchat;
    font-weight: bold;
    margin-bottom: 0;
  }
  &__messageContainer {
    &--message {
      width: fit-content;
      height: fit-content;
      background-color: $color-message-background;
      border-radius: 15px;
      padding: 0.7rem 1.5rem;
      margin-bottom: 0.3rem;
      &--content {
        font-size: $fs-1;
        color: $color-message-text;
        margin-bottom: 0%;
      }
    }
  }
}

.senderIsUser {
  .messageGroup__messageContainer--message {
    border-top-right-radius: 5px;
  }
  .messageGroup__senderName {
    text-align: right;
  }
}

.senderIsNotUser {
  .messageGroup__messageContainer--message {
    border-top-left-radius: 5px;
  }
  .messageGroup__senderName {
    text-align: left;
  }
}
