.messageGroup{
  &__message {
    width: fit-content;
    height: fit-content;
    background-color: rgba(109, 104, 117, 0.23);
    border-radius: 15px;
    padding: 0.7rem 1.5rem;
    margin-bottom: 0.3rem;
    &--content {
      font-size: $fs-1;
      color: #4B4B4B;
      margin-bottom: 0%;
    }
  }
}

.senderIsUser {
  border-top-right-radius: 5px;
}

.senderIsNotUser {
  border-top-left-radius: 5px;
}
