.messageGroup {
  display: flex;

  &.senderIsUser {
    flex-direction: row-reverse;

    .messageGroup__messageContainer--message {
      max-width: 90%;

      border-top-right-radius: 5px;
      margin-left: auto;
    }

    .messageGroup__senderName {
      text-align: right;
    }
  }

  &.senderIsNotUser {

    .messageGroup__messageContainer--message {
      max-width: 90%;

      border-top-left-radius: 5px;
      overflow-wrap: break-word;
    }

    .messageGroup__senderName {
      text-align: left;
    }
  }

  &__avatar {
    margin: 0px 10px;
  }

  &__senderName {
    margin-bottom: 0;

    color: $color-title-boxchat;
    font-weight: bold;
  }

  &__messageContainer {

    &--message {
      width: fit-content;
      height: fit-content;
      padding: 0.7rem 1.5rem;
      margin-bottom: 0.3rem;

      background-color: $color-message-background;

      border-radius: 15px;

      &--content {
        margin-bottom: 0%;

        font-size: $fs-1;
        color: $color-message-text;
      }
    }
  }
}
