.AuthPanel {
  width: 350px;
  height: fit-content;
  padding: 2rem;

  background-color: rgba(236, 236, 236, 0.932);
  border-radius: 20px;
  
  h2 {
    margin-bottom: 18px;

    font-size: 2rem;
    font-weight: 600;
    text-align: center;
  }

  label.info {
    margin-top: 24px;
    padding-left: 10px;

    text-align: left;
  }

  a {
    display: block;
    text-align: center;
  }

  .error {
    max-width: 100%;
    margin-top: 0.3rem;
    padding-left: 10px;

    color: red;
    
    font-size: 0.8rem;
    font-weight: 600;
    text-align: left;
  }
}
