.sidebar {
  background-color: #ffe0cf;
  min-height: 100vh;
  padding-left: 8px;
  padding-right: 12px;
  
  .personalInfo {
    min-height: 70px;
    display: flex;
    padding-top: 6px;
    justify-content: flex-start;
    align-items: center;
    .info{
      margin-left: 18px;
      .name{
        font-weight: 600;
        font-size:1rem;
        margin-bottom: 0;
      }
    }
  }
  
  .searchAndAdd{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .search{
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        min-width: 80%;  
    }
    .iconAdd{
        cursor: pointer;
        @include icon_customization(2rem,2rem);
    }
  }
  .typeMessage{
    font-weight: 600;
    font-size:0.9rem;
    .iconScrollTypeMessage{
        cursor: pointer;
        @include icon_customization(1rem,1rem);
        margin-left: 10px;
    }
  }
  .split{
    margin-top: 1.5vh;
  }
  .title{
    padding-left: 10px;
  }
  .copyRight{
    font-weight: 600;
    margin: 10px 0;
    position: fixed;
    bottom: 0%;
  }
}
